<div class="container">
    <h2>Task Manager</h2>
    <input type="text" class="form-control" [formControl] = "descriptionIntput" maxlength="255"/><br>
    <input type="button" class="btn btn-primary" [disabled] = "descriptionIntput.value.length <= 0 " value="Agregar Tarea" (click) = "save()">
</div>
<br>
<div *ngIf="taskList.length > 0" class="container">
    <div class="row">
        <div *ngFor="let task of taskList" class="col-3">
            <div  class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Tarea {{task.id}}</h5>
                <p class="card-text">{{task.description}}</p>
                <div class="btn btn-danger"(click)="delete(task.id)">X</div>
                </div>
            </div>
        </div>
    </div>
</div>